/* 页脚整体 */
.site-footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #CDD6F4;
}

/* 统计信息 */
.site-footer .totalcount span {
    color: #CDD6F4 !important;
}

/* 自定义名言 */
.site-footer .footer-quote {
    display: block !important;
    color: #89b4fa !important;
    font-style: italic;
    margin-top: 4px;
}

/* 版权信息 */
.site-footer .copyright {
    color: #94a1b2;
}

/* // 键盘样式 */
kbd {
  margin: 0 .1em;
  padding: .1em .6em;
  font-size: .8em;
  color: #242729;
  background: #fff;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0px 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
  vertical-align: middle;
  font-family: monospace;
}

